body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #6DD5FA;
}
.form{
  width: 300px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: #d0e4f0;
  text-align: center;
}
.form h1{
  color: black;
  text-transform: uppercase;
  font-weight: 500;
}
.form input[type="text"],.form input[type="password"]{
  border:0;
  background: none;
  display: block;
  margin: 2px auto;
  text-align: left;
  border: 2px solid #3498db;
  padding: 1px 1px;
  width: 20px;
  outline: none;
  color: black;
  border-radius: 24px;
  transition: 0.25s;
}
.form input[type="text"]:hover,.form input[type="password"]:hover{
  width: 280px;
  border-color: #2ecc71;
}
.form input[type="submit"]{
  border:0;
  background: none;
  display: block;
  margin: 10px auto;
  text-align: center;
  border: 2px solid #2ecc71;
  padding: 14px 40px;
  outline: none;
  color: black;
  border-radius: 24px;
  transition: 0.75s;
  cursor: pointer;
}
.form input[type="submit"]:hover {
  background: #2ecc71;
}
