*{
    margin:0px;
    padding:0px;
}
 
.img{
    height:50px;
    width: 120px;
    margin-left: 35px;
    margin-top:40px;
}
.cat{
    color:white;
    font-size: 18px;
}
.imgbig{
    position: absolute;
    height:200px;
    width:600px;
    z-index:-1;
    left:260px;
    /* background: rgb(255, 255, 255) transparent; */
    opacity:0.3;
}
.nav{
    float:left;
    width: 200px;
    height:100vh;
    background:lightseagreen;
    box-shadow: 1px 2px 5px 2px black;
}
.section{
    margin-top:30px;
    float: left;
    width:50%;
    height:93vh;
    margin-left:40px;padding: 10px;
    box-shadow: 2px 2px 2px 2px blue;
    
}
.logo{
    padding:25px;
    font-size:15px;
    font-weight: bold;
    color: white;
}

.aside{
    margin-top: 100px;
    margin-left: 1000px;
    width:200px;
    height:280px;
    background: lightseagreen;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px;
    overflow-y: auto;
    overflow-x: hidden;
}
.aside p{
    padding: 15px;
    font-family: Sans;
    font-size:18px;

}
.aside ol{
    list-style: none;
    padding: 5px;
    margin-left: 20px;
}
.about{
    position: relative;
    top:50px;
    margin-left: 1000px;
    width:200px;
    height:150px;
    background: lightseagreen;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px;
    overflow-y: auto;
    overflow-x: hidden; 
}.ab{
    margin: 0px;
    padding: 0px;
    font-size:25px;
    padding: 30px;
    font-weight: bold;
    color:white;
    text-align: center;
}
a{
    text-decoration:none;
}
ul{list-style: none;margin:0px;padding:0px;width: 200px}
ul li a{display: block;padding: 10px 30px; width:100%;color:white;font-weight: 800;}
ul li a:hover {
    background-color:lightseagreen;
    color: white;
    box-shadow: 2px 0px 10px yellow;
    text-decoration:none;
  }
.stath2{
    text-align: center;
    margin-top:50px;
}
.stat{
    margin-top:30px;
}
.nolist{
    text-decoration: none;
}